div {
   /*border: 1px solid #000000;*/
}

/*
@media (min-width: 576px) {
    
}*/

body {
    padding-top: 105px;
}
.flex-direction-column{
	flex-direction:column;
}
.my_head {
    height: 100px;
    /*background-color: #e3f2fd;
    */
    background-color: #343a40;
}
.my_col_height {
	min-height: 60px;
}
.my_dropdown-menu{
	background-color: #343a40;
}

.my_content {
    min-height: 800px;
}

.my_footer {
    height: 150px;
    background-color: azure;
}
.user_list_jobs{
	min-height: 100px;
    background-color: #f8f9fa;

}

.card, .card-header, .card-body, .card-footer{
    border-radius:0px !important;
}
.razdelitel {
	height: 15px;
	width: auto;
}
.list-background-color{
	background-color: #cfe2ffbf;
	/*background-color: var(--bs-primary-bg-subtle);
*/
}

/* картинка звездочка*/

.wrapper {
    width: 50px;
    height: 50px;
    display: block;
    /*    border: 5px solid #515151;*/
}

.exmpl img {
    display: block;
    width: 100%;
}

.rait_row {
    height: 50px;
}
.text-logo {
    font-size: 1.25rem;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
}

.img-logo {
    padding: 0.25rem;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    max-width: 100%;
    height: 90px;
}