<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    {% block title %}
    <title>Личный кабинет</title>
    {% endblock %}

</head>
<body>
<header>
    <div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        {% include 'main_menu.html' %}
    </div>

</header>

<content>
    <div class="container ttd">
<!--        тут будет блок меню для личного кабинета пользователя-->
        <h3>Блок меню администратора:</h3>
    </div>
    <div class="container ttd">
        <div class="row ttd">
            <div calss="col-12 ttd">
                {% block content %}

                <h3>Данные администратора:</h3>
                    {%if user_object %}
                    <li>
                        <lo>ID: {{user_object.id}}</lo>
                        <lo>UUID: {{user_object.uuid}}</lo>
                        <lo>Имя: {{user_object.name}}</lo>
                    </li>

                    {%endif%}

                {% endblock %}
            </div>
        </div>
        <div class="row ttd">
            <div calss="col-md-12">
                 <h4>Список пользователей:</h4>
                <br>
            </div>
        </div>

        <div class="container ttd">
                {% if all_users %}
                    {% for item in all_users %}
                        <div calss="row ttd">
                            <div class="col-md-3 ttd">
                                <label><b>ID пользователя:<b></b> {{item.id}}
                                {%if authenticated %}
                                <label style="color: green"> <b>(ONLINE)</b></label>
                                {%else%}
                                <label style="color: gray"><b>(OFFLINE)</b></label>
                                {%endif%}
                                </label>
                            </div>
                            <div class="col-md-3 ttd">
                                <label><b>Имя:</b> {{item.name}}</label>
                            </div>
                             <div class="col-md-3 ttd">
                                <label><b>Email</b>: {{item.email}}</label>
                            </div>
                            <div class="col-md-3 ttd">
                                {%if item.status_banned %}
                                <label id=activation_label" style="color: red"><b>Заблокирован</b></label>
                                <a id="activation" num_id="{{item.uuid}}"> Разблокировать</a>
                                {%else%}
                                <label id=deactivation_label" style="color: green"><b>Активный</b></label>
                                <a id="deactivate" num_id="{{item.uuid}}"> Заблокировать</a>
                                {%endif%}
                            </div>
                        </div>
                    <br>
                    {% endfor %}
                {% else %}
                <h4>список пользователей пуст</h4>
                {% endif %}
        </div>

    </div>
</content>

<footer>
    <div class="container">
        <div class="row ttd">
            <div class="col-12 ttd">
                FOOTER
            </div>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
<script>

async function deact(num_id){
        url = '/auth/deactivate/' + num_id;
        let response = await fetch(url);
        console.log("response.ok", response.ok);
        console.log("response.status", response.status);
        console.log("response.text", response.text);
        if (response.ok) {
        // если HTTP-статус в диапазоне 200-299
        // получаем тело ответа (см. про этот метод ниже)
        // {'error': None, 'status_banned': True}
        let json = await response.json();
          if (json['status_banned']=='True'){ console.log("Статус пользователя: Заблокирован")}
          if (json['status_banned']=='False'){ console.log("Статус пользователя: Активный") }
          if (json['status_banned']=='None'){ console.log("Не удалось получить статус пользователя")}

          console.log("error: ", json['error']);
        } else {
          console.log("Ошибка HTTP: " + response.status);
        }
}



//дожидаемся полной загрузки страницы
window.onload = function () {

    //получаем идентификатор элемента
    var a = document.getElementById('deactivate');

    //вешаем на него событие
    a.onclick = function() {
        //производим какие-то действия
        num_id = a.getAttribute('num_id');
        deact(num_id);
        //предотвращаем переход по ссылке href
        return false;
    }
}


</script>
</body>
</html>