<!doctype html>
<html lang="ru">
<head>
    {% include 'meta_link_include.html' %}

    {% block title %}
    <title>Личный кабинет</title>
    {% endblock %}

</head>
<body>
<div class="container my_head fixed-top">
        {% include 'main_menu.html' %}
</div>

    <div class="container">
<!--        тут будет блок меню для личного кабинета пользователя-->
        <h4>Блок меню администратора:</h4>
    </div>
<div class="razdelitel"></div>
{% block content %}
<div class="container my_content p-0">
    <div class="row m-0">
        <div class="col-md-4">
                    {%if user_object %}

                    {% include 'user_card.html' %}

                    {%endif%}
        </div>
        <div class="col-md-8">
            {% if all_users %}
                    {% for item in all_users %}
            <div class="card">
                 <div class="card-header"></div>
                    <div class="card-body">
                            <div class="card-text">
                                ID пользователя: {{item.id}}
                                {%if item.status_online %}
                                <text style="color: green"><b>(ONLINE)</b></text>
                                {%else%}
                                <text style="color: gray"><b>(OFFLINE)</b></text>
                                {%endif%}
                            </div>
                            <div class="card-text"><b>Имя:</b> {{item.name}}</div>
                             <div class="card-text"><b>Email</b>: {{item.email}}</div>
                            <div class="card-text">
                                {%if not item.is_admin%}
                                    {%if item.status_banned %}
                                    <label class="activation_label" num_id="{{item.uuid}}" style="color: red"><b>Заблокирован</b></label>
                                    <button type="button" value ="active" num_id="{{item.uuid}}" class="btn btn-outline-success activation">Разблокировать</button>
                                    {%else%}
                                    <label class="activation_label" num_id="{{item.uuid}}" style="color: green"><b>Активный</b></label>
                                    <button type="button" value ="deactive" num_id="{{item.uuid}}" class="btn btn-outline-danger activation">Заблокировать</button>
                                    {%endif%}
                                {%endif%}
                            </div>

                 </div>
            </div>
                    {% endfor %}
                 {% else %}
                <div class="card">

                <div class="card-header">список пользователей пуст</div>

                </div>


                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
   <div class="container my_footer">

        <div class="row">
            <div class="col">Подвал</div>

        </div>
    </div>

{% include 'js_include.html' %}
</body>
</html>