<!doctype html>
<html lang="ru">
<head>
    {% include 'meta_link_include.html' %}

    {% block title %}
    <title>Личный кабинет</title>
    {% endblock %}

</head>
<body>
<div class="container my_head fixed-top">
        {% include 'main_menu.html' %}
</div>

    <div class="container">
<!--        тут будет блок меню для личного кабинета пользователя-->
        <h3>Блок меню администратора:</h3>
    </div>

    <div class="container my_content">
        <div class="row">
            <div calss="col-12">
                {% block content %}

                <h3>Данные администратора:</h3>
                    {%if user_object %}
                    <li>
                        <lo>ID: {{user_object.id}}</lo>
                        <lo>UUID: {{user_object.uuid}}</lo>
                        <lo>Имя: {{user_object.name}}</lo>
                    </li>

                    {%endif%}

                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div calss="col-md-12">
                 <h4>Список пользователей:</h4>
                <br>
            </div>
        </div>

        <div class="container">
                {% if all_users %}
                    {% for item in all_users %}
                        <div calss="row">
                            <div class="col-md-5">
                                <label><b>ID пользователя:<b></b> {{item.id}}
                                {%if authenticated %}
                                <label style="color: green"> <b>(ONLINE)</b></label>
                                {%else%}
                                <label style="color: gray"><b>(OFFLINE)</b></label>
                                {%endif%}
                                </label>
                            </div>
                            <div class="col-md-5">
                                <label><b>Имя:</b> {{item.name}}</label>
                            </div>
                             <div class="col-md-5">
                                <label><b>Email</b>: {{item.email}}</label>
                            </div>
                            <div class="col-md-5">
                                {%if not item.is_admin%}
                                    {%if item.status_banned %}
                                    <label class="activation_label" num_id="{{item.uuid}}" style="color: red"><b>Заблокирован</b></label>
                                    <button type="button" value ="active" num_id="{{item.uuid}}" class="btn btn-outline-success activation">Разблокировать</button>
                                    {%else%}
                                    <label class="activation_label" num_id="{{item.uuid}}" style="color: green"><b>Активный</b></label>
                                    <button type="button" value ="deactive" num_id="{{item.uuid}}" class="btn btn-outline-danger activation">Заблокировать</button>
                                    {%endif%}
                                {%endif%}
                            </div>
                        </div>
                    <br>
                    {% endfor %}
                {% else %}
                <h4>список пользователей пуст</h4>
                {% endif %}
        </div>

    </div>



   <div class="container my_footer">

        <div class="row">
            <div class="col">Подвал</div>

        </div>
    </div>

{% include 'js_include.html' %}
</body>
</html>