<!doctype html>
<html lang="ru">
<head>
    {% include 'meta_link_include.html' %}

    {% block title %}
    <title>Работать тут</title>
    {% endblock %}

</head>
<body>

<div class="container my_head fixed-top align-content-center">
    {% include 'main_menu.html' %}
    {% if user_name %}
    <div class="row justify-content-end">
        <div class="col-4 d-flex justify-content-end text-success">
            <h8> Привет {{user_name}}</h8>
        </div>
    </div>
    {% endif %}

</div>
<div class="container my_content">

    {% block content %}
    {% if authenticated %}
    <div class="row user_list_jobs d-flex justify-content-center align-items-center">
        <div class="col-6 d-flex">

            Пользователь залогинен!
            Если указаны в профиле предпочтения по подбору объявлений (указан город, район или меро, тематика)
            выводим соответствующие объявления

        </div>
    </div>
    {% else %}
        <div class="row user_list_jobs d-flex justify-content-center align-items-center">
            <div class="col-6 d-flex">

                Пользователь АНОНИМ!
                Выводим список самых свежжих объявлений

            </div>
        </div>
    {% endif %}

    <div class="row m-0 p-0">
        <div calss="col">


            <h4>Список запросов:</h4>
                {% for job in jobs_items %}
                    {% if job.is_publish %}
                <div class="card">
                    <dev class="card-header">
                        <div class="row m-0 p-0">
                            <div class="col d-flex justify-content-start"><h5>{{ job.uuid }}</h5></div>
                            <div class="col d-flex justify-content-end"><h5>Истекает: {{ job.disactivate_date }}</h5></div>
                        </div>
                    </dev>
                  <div class="card-body">
                    <h5 class="card-title">{{ job.title }}</h5>
                    <p class="card-text">{{ job.description }}</p>
                    <p class="card-text">{{ job.city }}, {{ job.address }} </p>
                    <p class="card-text">м.{{ job.metrostation }}</p>
                    <p class="card-text">Цена: <b>{{ job.price }} р.</b></p>
                    <a href="#" class="btn btn-primary">Редактировать</a>
                  </div>
                </div>
                    {% endif %}
                {% endfor %}


            {% endblock %}
        </div>

    </div>
</div>
<div class="container my_footer">

    <div class="row">
        <div class="col">Подвал</div>

    </div>
</div>

{% include 'js_include.html' %}
</body>
</html>