<!doctype html>
<html lang="ru">
<head>
    {% include 'meta_link_include.html' %}

    {% block title %}
    <title>Работать тут</title>
    {% endblock %}

</head>
<body>

<div class="container my_head fixed-top align-content-center">
    {% include 'main_menu.html' %}


</div>
<div class="container my_content">

    {% block content %}
    {% if authenticated %}
    <div class="row user_list_jobs d-flex justify-content-center align-items-center">
        <div class="col-6 d-flex">

            Пользователь залогинен!
            Если указаны в профиле предпочтения по подбору объявлений (указан город, район или меро, тематика)
            выводим соответствующие объявления

        </div>
    </div>
    {% else %}
        <div class="row user_list_jobs d-flex justify-content-center align-items-center">
            <div class="col-6 d-flex">

                Пользователь АНОНИМ!
                Выводим список самых свежжих объявлений

            </div>
        </div>
    {% endif %}

    <div class="row m-0 p-0">
        <div calss="col">

            <h4>Список запросов:</h4>
                {% for job in jobs_items %}
                    {% if job.is_publish %}
                            {% include 'job.html' %}
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div>

    </div>
</div>
<div class="container my_footer">

    <div class="row">
        <div class="col">Подвал</div>

    </div>
</div>

{% include 'js_include.html' %}
</body>
</html>