<div class="card">
    <dev class="card-header">
        <div class="row m-0 p-0">
            {% if job.name %}
            <div class="col d-flex justify-content-start text-success">
                <img src="{{ url_for('static', path='/images/logo/user_logo')}}{{range(1,3) | random }}.png" class="img-logo-user">
                <button type="button" class="btn btn-light btn-sm position-relative" data-bs-toggle="modal" data-bs-target="#modalUserInfo" data-bs-jobuuid={{job.uuid}}>
                    <h5>{{ job.name | title }}</h5>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ job.rating }}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                </button>
<!--                </button><h4 style="margin-left: 10px;">{{ job.rating }}</h4>-->
                </div>
            {%else%}
            <div class="col-sm-6 col-sm-push-6 d-flex justify-content-start"><h5>{{ job.uuid }}</h5></div>
            {%endif%}
            {% if job.is_booking %}
            <div class="col-sm-3 col-sm-pull-6 d-flex align-items-center justify-content-end text-danger"><h9>Есть отклики!</h9></div>
            {%endif%}
            <div class="col-sm-6 col-sm-pull-6 d-flex align-items-center justify-content-end"><h5>Истекает: {{ job.disactivate_date }}</h5></div>
        </div>
    </dev>
  <div class="card-body">
    <h5 class="card-title">{{ job.title }}</h5>
    <p class="card-text">{{ job.description }}</p>
    <p class="card-text">{{ job.city }}, {{ job.address }} </p>
    <p class="card-text">м.{{ job.metrostation }}</p>
    <p class="card-text">Цена: <b>{{ job.price }} р.</b></p>
<!--    <a href="#" class="btn btn-primary">Бронировать</a>-->
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" title="{{ job.title }}" data-bs-target="#exampleModal" data-bs-jobuuid="{{job.uuid}}">
  Откликнуться
</button> (телефон автора будет доступен в процессе отклика)
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">БРОНИРОВАНИЕ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% if authenticated %}
        При отклике автор получит сообщение.
          {% else %}
        Для просмотра номера телефона необходимо войти в систему.
          {% endif %}
      </div>
        <div class="phone-path text-center"></div>
      <div class="modal-footer">
          {% if authenticated %}
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-warning get-phone" jobuuid="" onclick="return get_phone_from_jobuuid(this);">Показать телефон</button>
        <button type="button" class="btn btn-success" jobuuid="" onclick="return set_booking_jobuuid(this);">Откликнуться</button>
          {% else %}
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отменить</button>
          <a class="btn btn-primary" href="/auth/login" role="button">Нажмите чтобы войти</a>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Modal for User Info -->
<div class="modal fade" id="modalUserInfo" tabindex="-1" aria-labelledby="modalUserInfoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUserInfoLabel">Информация о пользователе</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Тут пока пусто
      </div>
        <div class="phone-path text-center"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>