<div class="row d-flex align-items-center">
        <div class="col-4 d-none d-md-block d-lg-block d-xl-block d-xxl-block my_col_height">
            <div class="d-flex align-items-center">
            <a class="navbar-brand text-light d-flex justify-content-start" href="/"><b><h5>DJOBA</h5></b></a>
            </div>
        </div>
        <div class="col-2 d-none d-md-none d-lg-block d-xl-block d-xxl-block"></div>
        <div class="col d-none d-md-block d-lg-block d-xl-block d-xxl-block">
            <ul class="list-group list-group-flush list-group-horizontal-md list-unstyled d-flex justify-content-end">
            <li>
                <a class="btn btn-link text-light" role="button" href="/jobs/create_job">Создать объявление</a></li>
                        {% include 'user_menu.html' %}

            </ul>
        </div>

</div>

        <div class="row d-flex align-items-center">
            <div class="col-4 d-xs-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none my_col_height">
                <div class="d-flex align-items-center">
                <a class="navbar-brand text-light d-flex justify-content-start" href="/"><b><h5>DJOBA</h5></b></a>
                </div>
            </div>
            <div class="col-2 d-xs-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none"></div>
            <div class="col d-xs-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
                <div class="dropdown d-flex justify-content-end">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        МЕНЮ
                    </button>
                    <ul class="dropdown-menu list-unstyled my_dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="btn btn-link text-light" role="button" href="/jobs/create_job">Создать объявление</a></li>

                        {% include 'user_menu.html' %}

                    </ul>
                </div>
            </div>

        </div>






