<div class="row my_head">
    <div class="col d-flex justify-content-start align-items-center">
        <div class="d-flex justify-content-center align-items-center">
        <a class="navbar-brand text-light" href="/">
                    <img src="{{ url_for('static', path='/images/logo/logo')}}{{range(1,11) | random }}.png" class="img-logo"></a>
        </div>
    </div>
<div class="col-3 col-sm-4 col-md-10">

<div class="row d-flex align-items-center">

        <div class="col-2 d-none d-xs-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block"></div>
        <div class="col d-none d-md-block d-lg-block d-xl-block d-xxl-block">
            <ul class="list-group list-group-flush list-group-horizontal-md list-unstyled d-flex justify-content-end">
            <li>
                    {% if user_name %}
                    <h8 class="text-warning">{{user_name}}</h8>
                    {% endif %}
            </li>
            <li>
                <a class="btn btn-link text-light" role="button" href="/jobs/create_job">Создать объявление</a></li>
                        {% if authenticated %}
                        <li><a class="btn btn-link text-light" role="button" href="/profile">Профиль</a></li>
                        <li><a class="btn btn-link text-light" role="button" href="/auth/logout">Выход</a></li>
                        {% else %}
                        <li><a class="btn btn-link text-light" role="button" href="/auth/login">Вход</a></li>
                        <li><a class="btn btn-link text-light" role="button" href="/auth/registration">Регистрация</a></li>
                        {% endif %}

            </ul>
        </div>

</div>


        <div class="row d-flex align-items-center">

            <div class="col-8 d-xs-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">&nbsp;</div>

            <div class="col d-xs-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">



                <div class="dropdown d-flex justify-content-end">
                    {% if user_name %}
                    <h8 class="text-warning">{{user_name}}</h8>
                    {% endif %}
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        &nbsp;МЕНЮ&nbsp;
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                        <li><a class="btn btn-link dropdown-item" role="button" href="/jobs/create_job">Создать объявление</a></li>

                        {% include 'user_menu.html' %}

                    </ul>
                </div>
            </div>

        </div>


        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-sm-1"></div>
            <div class="col-sm-8 justify-content-center text-center d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                <div class="text-white">Услуга за деньги - Услуга за услугу - Услуга за добро</div>
            </div>
            <div class="col-sm-3"></div>
        </div>

</div>
</div>






