<!doctype html>
<html lang="ru">
<head>
    {% include 'meta_link_include.html' %}

    {% block title %}
    <title>Личный кабинет</title>
    {% endblock %}

</head>
<body>
<div class="container my_head fixed-top">
        {% include 'main_menu.html' %}
</div>

                       <div class="container my_content">
  <div class="row">
  <div class="col-md-12 p-0">
<div class="card">
            <div>
                <h5 class="card-header">Блок меню пользователя:</h5>
            </div>
            <div class="razdelitel">

            </div>



                               <div class="container my_content p-0">
  <div class="row m-0">
      {% block content %}
    <div class="col-md-4">

                    {%if user_object %}

                    {% include 'user_card.html' %}

                    {%endif%}


    </div>
    <div class="col-md-8">
          <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>

      {% endblock %}
  </div>
</div>

          </div>
        </div>

</div>
</div>






 <div class="container my_footer">

        <div class="row">
            <div class="col">Подвал</div>

        </div>
    </div>

{% include 'js_include.html' %}

</body>
</html>