<div class="card" style="width: 300px;">
<!--  <img src="..." class="card-img-top" alt="...">-->
  <div class="card">
    <h5 class="card-header">Учетные данные</h5>
  <div class="card-body">
    {%if notifications%}
      {%for notif in notifications%}
          <div class="alert alert-success" role="alert">

                  {{notif}}
          </div>
      {%endfor%}
    {%else%}
    <p class="card-text">Для изменения данных нажмите "Редактировать"</p>
    {%endif%}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ID: {{user_object.id}}</li>
    <li class="list-group-item">UUID: {{user_object.uuid}}</li>
    <li class="list-group-item list-background-color">Имя: {{user_object.name}}</li>
    <li class="list-group-item list-background-color">Тел.: {{user_object.phone}}</li>
    <li class="list-group-item list-background-color">Email: {{user_object.email}}</li>
    <li class="list-group-item list-background-color">is_company: {%if user_object.is_company%} Компания{%else%}Физическое лицо{%endif%}</li>
  </ul>
  <div class="card-body">
    <a href="/profile/edit/{{user_object.uuid}}" class="card-link">Редактировать</a>
    <a href="/profile/edit_pass/{{user_object.uuid}}" class="card-link">Изменить пароль</a>
  </div>
</div>
</div>

