
        {% if authenticated %}
        <li class="list-group-item flex-fill"><a class="btn btn-link" role="button" href="/profile">Профиль</a></li>
        <li class="list-group-item flex-fill"><a class="btn btn-link" role="button" href="/auth/logout">Выход</a></li>
        {% else %}
        <li class="list-group-item flex-fill"><a class="btn btn-link" role="button" href="/auth/login">Вход</a></li>
        <li class="list-group-item flex-fill"><a class="btn btn-link" role="button" href="/auth/registration">Регистрация</a></li>
        {% endif %}
