<div class="card" style="width: 300px;">
<!--  <img src="..." class="card-img-top" alt="...">-->
  <div class="card">
    <h5 class="card-header">Учетные данные</h5>
  <div class="card-body">
    <p class="card-text">Для изменение данных нажмите "Редактировать"</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ID: {{user_object.id}}</li>
    <li class="list-group-item">UUID: {{user_object.uuid}}</li>
    <li class="list-group-item">Имя: {{user_object.name}}</li>
    <li class="list-group-item">Тел.: {{user_object.phone}}</li>
    <li class="list-group-item">Email: {{user_object.email}}</li>
    <li class="list-group-item">is_company: {{user_object.is_company}}</li>
  </ul>
  <div class="card-body">
    <a href="/auth/profile/edit/{{user_object.uuid}}" class="card-link">Редактировать</a>
    <a href="#" class="card-link">Тут что-то</a>
  </div>
</div>
</div>

