<!doctype html>
<html lang="ru">
<head>
    {% include 'meta_link_include.html' %}

    {% block title %}
    <title>Личный кабинет</title>
    {% endblock %}

</head>
<body>
<div class="container my_head fixed-top">
        {% include 'main_menu.html' %}
</div>



    <div class="container">
<!--        тут будет блок меню для личного кабинета пользователя-->
        <h3>Блок меню пользователя:</h3>
    </div>
    <div class="container my_content">
        <div class="row">
            <div calss="col-12">
                {% block content %}

                <h1>Данные пользователя:</h1>
                {%if user_object %}
                    <li>
                        <lo>UUID: {{user_object.id}}</lo>
                        <lo>ID: {{user_object.uuid}}</lo>
                        <lo>Имя: {{user_object.name}}</lo>
                        <lo>Email: {{user_object.email}}</lo>
                        <lo>is_company: {{user_object.is_company}}</lo>
                    </li>

                    {%endif%}

                {% endblock %}
            </div>
        </div>
    </div>




 <div class="container my_footer">

        <div class="row">
            <div class="col">Подвал</div>

        </div>
    </div>

{% include 'js_include.html' %}

</body>
</html>